.login {
  display: grid;
  height: 100vh;
  place-items: center center;
}
.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45vw;
  min-height: 400px;
  background-color: #385674;
  border-radius: 15px;
  padding: 40px;
  gap: 30px;
  box-sizing: border-box;
}

.login form .form__inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.login form .form__input {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.login form .form__input input {
  border: 0;
  height: 40px;
  font-size: 1.2rem;
  background-color: #4b749f;
  color: #fff;
}

.login form .form__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.login form button.login-submit {
  border: 0;
  height: 40px;
  background-color: #dad0cc;
  width: 100%;
  border-radius: 15px;
  font-size: 1.2rem;
}

.login form a.signup-link {
  color: #fff;
  align-self: flex-start;
}

@media (max-width: 768px) {
  .login form {
    width: 100vw;
  }
}
