.chat {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: pink;
  color: #fff;
  height: 100%;
  min-width: 420px;
}

.chat .chat__header {
  height: 50px;
  width: 100%;
  background-color: #d3d;
}

.chat .chat__messages {
  flex-grow: 1;
}

.chat .chat__messages ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.chat .chat__messages ul li {
  border-radius: 15px;
  background-color: lightgrey;
  padding: 8px;
}

.chat .chat__messages li:nth-child(even) {
  background-color: green;
}

.chat .chat__new-message {
  height: 50px;
  background-color: #e4f;
}
