.wrapper-chat {
  position: relative;
}

.chat {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #2b4157;
  color: #fff;
  height: 100%;
  min-width: 420px;
}

.chat .chat__header {
  height: 50px;
  width: 100%;
  background-color: #385674;
  text-transform: capitalize;
  padding: 10px;
  box-sizing: border-box;
}

.chat .chat__messages {
  flex-grow: 1;
  overflow-y: scroll;
}

.chat .chat__messages ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.chat .chat__messages ul li {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: lightgrey;
  padding: 8px;
  width: 85%;
}

.chat .chat__messages ul li small.time {
  align-self: flex-end;
}

.chat .chat__messages ul li small.username {
  color: lightblue;
}

.chat .chat__messages ul li.send {
  border-radius: 20px 20px 3px 20px;
  align-self: flex-end;
  background-color: #188273;
}

.chat .chat__messages ul li.receive{
  border-radius: 20px 20px 20px 3px;
  background-color: #a5abc2;
}

.chat .chat__new-message {
  background-color: #385674;
}

.chat .chat__new-message form {
  display: flex;
}

.chat .chat__new-message form input {
  flex-grow: 1;
  margin: 10px;
  border: none;
  border-radius: 20px;
  padding: 5px;
  background-color: #4b749f;
  color: #fff;
}

.chat .chat__new-message form button {
  border: none;
  background-color: #385674;
  color: #fff;
}
