section.home {
  display: grid;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: red;
  box-sizing: content-box;
  grid-template-rows: 1fr 8fr 1fr;
  }

.home .home__header {
  position: relative;
  background-color: blue;
}

.home .home__body {
  background-color: green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;

}

.home .home__footer {
  position: relative;
  background-color: yellow;
}
