section.home {
  display: grid;
  position: relative;
  width: 100vw;
  height: 100vh;
  box-sizing: content-box;
  grid-template-rows: 1fr 8fr 1fr;
}

.home .home__header {
  position: relative;
}

.home .home__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  position: relative;
}

.home .home__footer {
  position: relative;
}

@media (max-width: 768px) {
  .home .home__body {
    grid-template-columns: 1fr;
  }

  .rooms-section.active {
    display: block;
  }

  .rooms-section.inactive {
    display: none;
  }
}
