.rooms {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li.room {
  height: 40px;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: lightgrey;
}
